/* Home */

#home {
  background: #07425b;
  background: linear-gradient(90deg, #07425b 40%, #021924 100%);
  min-height: 500px;
  font-family: Garamond, serif;
}
/* 
.navbar{
    font-family: Garamond, serif;
}

.container{
    font-family: Garamond, serif;
} */

/* Cards */
.card {
  transition: all 0.5s ease;
  height: 100vh;
  width: auto;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.center-content {
  text-align: center;
}

/* Footer */
footer {
  background: rgb(6, 52, 72) !important;
  background: linear-gradient(
    90deg,
    rgb(9, 66, 91) 40%,
    #021924 100%
  ) !important;
  font-family: Garamond, serif;
}

body {
  margin: 0;
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card1 {
  transition: transform 0.3s;
}
.card1:hover {
  transform: scale(
    0.9
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
